* {
  background-color: #4abcff;
  font-family: Helvetica, sans-serif;
  color: #772211;
}

a {
  color: #000000;
}

h3 {
  font-weight: bold;
}

.tab {
  margin-left: 40px;
}

.citation {
  font-family: Times New Roman, sans-serif;
  text-indent: 80px;
  line-height: 1.6;
}
.citation:first-line {
  font-family: Times New Roman, sans-serif;
  line-height: 1.6;
}
